<!-- <mat-toolbar style="background-color: blue">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->
<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
<mat-toolbar class="bg-blue-500 p-2">

  <span class="text-white text-2xl font-bold">E-Commerce</span>
  <span class="flex-grow"></span>
  <!-- <button mat-button routerLink="/order" routerLinkActive="active" class="text-blue">Track Order</button> -->
  <button mat-button routerLink="/signup" rouuterLinkActive="active" class="text-blue">Register</button>
  <button mat-button routerLink="/login" routerLinkActive="active" class="text-blue">Login</button>

</mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn">
<mat-toolbar class="bg-blue-500 p-2">

  <span class="text-white text-2xl font-bold">E-Commerce</span>
  <span class="flex-grow"></span>
  <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/admin/category" routerLinkActive="active">Category</button>
    <button mat-button routerLink="/admin/product" routerLinkActive="active">Product</button>
    <button mat-button routerLink="/admin/orders" routerLinkActive="active">Orders</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
</mat-toolbar>
</div>

<div *ngIf="isCustomerLoggedIn">
<mat-toolbar class="bg-blue-500 p-2">

  <span class="text-white text-2xl font-bold">E-Commerce</span>
  <span class="flex-grow"></span>
    <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/customer/cart" routerLinkActive="active">Cart</button>
    <button mat-button routerLink="/customer/my_orders" routerLinkActive="active">Orders</button>
    <button mat-button routerLink="/customer/profile" routerLinkActive="active">Profile</button>
     <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
</mat-toolbar>
</div>
<router-outlet></router-outlet>